<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chryl.mapper.ForeachMapper">
    <!-- 批量添加 :注意 insert 别用别名-->
    <!-- 没有open 和 close  ,-->
    <insert id="inserts" parameterType="list">
        INSERT INTO
        a_a (id,name)
        VALUES

        <foreach collection="params" item="param" index="index" separator=",">
            (#{param},#{name})
        </foreach>
    </insert>
    <!-- 带open 和close -->
    <insert id="inserts2" parameterType="list">
        INSERT INTO
        a_a (id,name)
        VALUES

        <foreach collection="params" item="param" index="index" separator="," open="(" close=")">
            #{param},#{name}
        </foreach>
    </insert>
    <!-- 批量删除 -->
    <!-- delete from emp where empno in(7789,7790) -->
    <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
        : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
    <delete id="deleteIds" parameterType="list">
        DELETE FROM a_a a WHERE a.id IN
        <foreach collection="params" item="param" index="index" open="(" separator="," close=")">
            #{param}
        </foreach>
    </delete>
</mapper>
