<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- 全局设置 -->
  <settings>
    <!-- 开启缓存 -->
    <setting name="cacheEnabled" value="true"/>
    <!-- 延迟加载设置 -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 主键自动生成 -->
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

</configuration>

